#root {
  max-width: 1280px;
  margin: 0 auto;
}

.theme-light {
  background-color: #fff;
  color: #000;
}

.theme-dark {
  background-color: #3a3b3c;
  color: #fff;
}

.t-dark {
  color: #fff !important;
}
